/*Variables*/
body {
  margin: 0;
}

h1, h2, h3, button {
  font-family: 'Lexend Tera', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.state-0 {
  display: none;
}

.dark {
  width: 100%;
  background: black;
  padding-bottom: 10px;
}

.dark h1, .dark h2, .dark h3, .dark p {
  color: white;
}

/*The Box Monster*/
.box {
  position: relative;
  width: 50px;
  background: blue;
  z-index: 3;
}

.box-base {
  background: url(../img/box-monster-base-white.png);
  background-size: cover;
}

.box-jump {
  background: url(../img/box-monster-jump-white.png);
  background-size: cover;
}

/*Apple*/
.apple {
  background: url(../img/apple-white.png);
  background-size: cover;
  position: relative;
  width: 50px;
  z-index: 2;
}

/*Opstacles*/
.skull {
  position: relative;
  width: 50px;
  z-index: 1;
}

.state-1 {
  background: url(../img/skull-shadow-1.png);
  background-size: cover;
}

.state-2 {
  background: url(../img/skull-shadow-2.png);
  background-size: cover;
}

.state-3 {
  background: url(../img/skull-2.png);
  background-size: cover;
  z-index: 3;
  -webkit-animation: skullShake 0.25s;
          animation: skullShake 0.25s;
}

/*Location of the box*/
/*First row*/
.item-1-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: _1-1;
}

.item-2-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: _2-1;
}

.item-3-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: _3-1;
}

.item-4-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: _4-1;
}

.item-5-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: _5-1;
}

/*Second row*/
.item-1-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: _1-2;
}

.item-2-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: _2-2;
}

.item-3-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: _3-2;
}

.item-4-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: _4-2;
}

.item-5-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: _5-2;
}

/*Thrid row*/
.item-1-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: _1-3;
}

.item-2-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: _2-3;
}

.item-3-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: _3-3;
}

.item-4-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: _4-3;
}

.item-5-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: _5-3;
}

/*Forth row*/
.item-1-4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: _1-4;
}

.item-2-4 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: _2-4;
}

.item-3-4 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: _3-4;
}

.item-4-4 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: _4-4;
}

.item-5-4 {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  grid-area: _5-4;
}

/*Fifth row*/
.item-1-5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: _1-5;
}

.item-2-5 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: _2-5;
}

.item-3-5 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: _3-5;
}

.item-4-5 {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: _4-5;
}

.item-5-5 {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: _5-5;
}

/*The grid*/
.grid {
  background: url(../img/stone-tile-4.png);
  background-size: 60px;
  background-position: center;
  margin: 0 auto;
  width: 290px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[5];
      grid-template-columns: repeat(5, 50px);
  -ms-grid-rows: (50px)[5];
      grid-template-rows: repeat(5, 50px);
  grid-gap: 10px;
      grid-template-areas: "_1-1 _2-1 _3-1 _4-1 _5-1" "_1-2 _2-2 _3-2 _4-2 _5-2" "_1-3 _2-3 _3-3 _4-3 _5-3" "_1-4 _2-4 _3-4 _4-4 _5-4" "_1-5 _2-5 _3-5 _4-5 _5-5";
  border: 5px solid white;
  padding: 5px;
  z-index: -1;
}

#turn-count, .centered {
  margin: 0 auto;
  text-align: center;
}

#reset-button {
  display: block;
  font-size: 1.5rem;
}

/*Animations Classes*/
/*Move*/
.box-animation-left {
  -webkit-animation: moveBoxLeft 0.25s forwards;
          animation: moveBoxLeft 0.25s forwards;
}

.box-animation-up {
  -webkit-animation: moveBoxUp 0.25s forwards;
          animation: moveBoxUp 0.25s forwards;
}

.box-animation-down {
  -webkit-animation: moveBoxDown 0.25s forwards;
          animation: moveBoxDown 0.25s forwards;
}

.box-animation-right {
  -webkit-animation: moveBoxRight 0.25s forwards;
          animation: moveBoxRight 0.25s forwards;
}

/*Collision*/
.box-collision-left {
  -webkit-animation: collisionLeft 0.25s;
          animation: collisionLeft 0.25s;
}

.box-collision-up {
  -webkit-animation: collisionUp 0.25s;
          animation: collisionUp 0.25s;
}

.box-collision-down {
  -webkit-animation: collisionDown 0.25s;
          animation: collisionDown 0.25s;
}

.box-collision-right {
  -webkit-animation: collisionRight 0.25s;
          animation: collisionRight 0.25s;
}

/*Animations Keyframes*/
/*Move*/
@-webkit-keyframes moveBoxLeft {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: -30px;
    top: -8px;
  }
  100% {
    left: -60px;
    top: 0px;
  }
}
@keyframes moveBoxLeft {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: -30px;
    top: -8px;
  }
  100% {
    left: -60px;
    top: 0px;
  }
}

@-webkit-keyframes moveBoxUp {
  0% {
    left: 0px;
    top: 0px;
  }
  75% {
    left: 0;
    top: -68px;
  }
  100% {
    left: 0px;
    top: -60px;
  }
}

@keyframes moveBoxUp {
  0% {
    left: 0px;
    top: 0px;
  }
  75% {
    left: 0;
    top: -68px;
  }
  100% {
    left: 0px;
    top: -60px;
  }
}

@-webkit-keyframes moveBoxDown {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 60px;
  }
}

@keyframes moveBoxDown {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 60px;
  }
}

@-webkit-keyframes moveBoxRight {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 30px;
    top: -8px;
  }
  100% {
    left: 60px;
    top: 0px;
  }
}

@keyframes moveBoxRight {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 30px;
    top: -8px;
  }
  100% {
    left: 60px;
    top: 0px;
  }
}

/*Collision*/
@-webkit-keyframes collisionLeft {
  0% {
    left: 0px;
    top: 0px;
  }
  10% {
    left: -10px;
    top: 0px;
  }
  45% {
    left: 11px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@keyframes collisionLeft {
  0% {
    left: 0px;
    top: 0px;
  }
  10% {
    left: -10px;
    top: 0px;
  }
  45% {
    left: 11px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@-webkit-keyframes collisionUp {
  0% {
    left: 0px;
    top: 0px;
  }
  10% {
    left: 0px;
    top: -10px;
  }
  45% {
    left: 0px;
    top: 11px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes collisionUp {
  0% {
    left: 0px;
    top: 0px;
  }
  10% {
    left: 0px;
    top: -10px;
  }
  45% {
    left: 0px;
    top: 11px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@-webkit-keyframes collisionDown {
  0% {
    left: 0px;
    top: 0px;
  }
  10% {
    left: 0px;
    top: 10px;
  }
  45% {
    left: 0px;
    top: -11px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes collisionDown {
  0% {
    left: 0px;
    top: 0px;
  }
  10% {
    left: 0px;
    top: 10px;
  }
  45% {
    left: 0px;
    top: -11px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@-webkit-keyframes collisionRight {
  0% {
    left: 0px;
    top: 0px;
  }
  10% {
    left: 10px;
    top: 0px;
  }
  45% {
    left: -11px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes collisionRight {
  0% {
    left: 0px;
    top: 0px;
  }
  10% {
    left: 10px;
    top: 0px;
  }
  45% {
    left: -11px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@-webkit-keyframes skullShake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes skullShake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}
/*# sourceMappingURL=styles.css.map */