/*Variables*/
$move-distance: 60px;
$half-move-distance: $move-distance / 2;
$move-time: .25s;

body{
    margin: 0;
}

button{
    display: block;
}

h1, h2, h3, button{
    font-family: 'Lexend Tera', sans-serif;
}

p{
    
    font-family: 'Open Sans', sans-serif;
}

//Sound Toggle
#sound{
    position: absolute;
    margin: 10px;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

.dark{
    width: 100%;
    background: black;
    padding-bottom: 10px;

    h1, h2, h3, p{
        color: white;
    }
}

/*The Box Monster*/
#player-container > div{
    background: url(../img/character/monster-down.png);
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 3;
}

#player-container{
    /*Facing*/
    .face-left{
        background: url(../img/character/monster-left.png);
    }

    .face-up{
        background: url(../img/character/monster-up.png);
    }

    .face-down{
        background: url(../img/character/monster-down.png);
    }

    .face-right{
        background: url(../img/character/monster-right.png);
    }

    /*Jumping*/
    .jump-left{
        background: url(../img/character-jump/monster-jump-left.png);
    }

    .jump-up{
        background: url(../img/character-jump/monster-jump-up.png);
    }

    .jump-down{
        background: url(../img/character-jump/monster-jump-down.png);
    }
    

    .jump-right{
        background: url(../img/character-jump/monster-jump-right.png);
    }
}


/*Apple*/
#apple-container > div{
    background: url(../img/apple.png);
    background-size: cover;
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 2;
}

/*Opstacles*/
.skull{
    
    position: absolute;
    width: 50px;
    z-index: 1;
}

#skull-container, #player-container, #apple-container{
    position: relative;
    height: 0;
}

#skull-container > div{
    position: absolute;
    width: 50px;
    height: 50px;
}

.state-0{
    display: none;
}

.state-1{
    background: url(../img/skull-shadow-1.png);
    background-size: cover;
    z-index: 1;
}

.state-2{
    background: url(../img/skull-shadow-2.png);
    background-size: cover;
    z-index: 1;
}

.state-3{
    background: url(../img/skull.png);
    background-size: cover;
    z-index: 3;

    animation: skullShake $move-time;
}

//X Axis
.x-1{
    left: 0px;
}

.x-2{
    left: 60px;
}

.x-3{
    left: 120px;
}

.x-4{
    left: 180px;
}

.x-5{
    left: 240px;
}

//Y Axis
.y-1{
    top: 0px;
}

.y-2{
    top: 60px;
}

.y-3{
    top: 120px;
}

.y-4{
    top: 180px;
}

.y-5{
    top: 240px;
}

//Player Location
//X Axis
.mx-1{
    margin-left: 0px;
}

.mx-2{
    margin-left: 60px;
}

.mx-3{
    margin-left: 120px;
}

.mx-4{
    margin-left: 180px;
}

.mx-5{
    margin-left: 240px;
}

//Y Axis
.my-1{
    margin-top: 0px;
}

.my-2{
    margin-top: 60px;
}

.my-3{
    margin-top: 120px;
}

.my-4{
    margin-top: 180px;
}

.my-5{
    margin-top: 240px;
}

  
/*The grid*/
  .grid {
    background: url(../img/stone-tile.png);
    background-size: 60px;
    background-position: center;
    margin: 0 auto;
    width: 290px;
    height: 290px;
    border: 5px solid white;
    padding: 5px;
    z-index: -1;
  }

//Turn Count
#turn-count, .centered{
    margin: 0 auto;
    text-align: center;
}

#reset-button{
    display: block;
    font-size: 1.5rem;
}

/*Animations Classes*/
/*Move*/
.box-animation-left{
    animation: moveBoxLeft $move-time forwards;
}

.box-animation-up{
    animation: moveBoxUp $move-time forwards;
}

.box-animation-down{
    animation: moveBoxDown $move-time forwards;
}

.box-animation-right{
    animation: moveBoxRight $move-time forwards;
}

/*Collision*/
.box-collision-left{
    animation: collisionLeft $move-time;
}

.box-collision-up{
    animation: collisionUp $move-time;
}

.box-collision-down{
    animation: collisionDown $move-time;
}

.box-collision-right{
    animation: collisionRight $move-time;
}


/*Animations Keyframes*/
/*Move*/
@keyframes moveBoxLeft{
    0% {left:0px; top:0px;}
    25% {left:-$half-move-distance; top:-8px;}
    100% {left:-$move-distance; top:0px;}
}

@keyframes moveBoxUp{
    0% {left:0px; top:0px;}
    75% {left:0; top:-68px;}
    100% {left:0px; top:-$move-distance;}
}

@keyframes moveBoxDown{
    0% {left:0px; top:0px;}
    100% {left:0px; top:$move-distance;}
}

@keyframes moveBoxRight{
    0% {left:0px; top:0px;}
    25% {left:$half-move-distance; top:-8px;}
    100% {left:$move-distance; top:0px;}
}

/*Collision*/
@keyframes collisionLeft{
    0% {left:0px; top:0px;}
    10% {left:-10px; top:0px;}
    45% {left:11px; top:0px;}
    100% {left:0px; top:0px;}
}

@keyframes collisionUp{
    0% {left:0px; top:0px;}
    10% {left:0px; top:-10px;}
    45% {left:0px; top:11px;}
    100% {left:0px; top:0px;}
}

@keyframes collisionDown{
    0% {left:0px; top:0px;}
    10% {left:0px; top:10px;}
    45% {left:0px; top:-11px;}
    100% {left:0px; top:0px;}
}

@keyframes collisionRight{
    0% {left:0px; top:0px;}
    10% {left:10px; top:0px;}
    45% {left:-11px; top:0px;}
    100% {left:0px; top:0px;}
}

@keyframes skullShake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }